

@import url('https://fonts.googleapis.com/css?family=Lato:300|Sen:400,700&display=swap');

body{
    font-family: 'Sen', sans-serif;
    overflow: hidden;
    font-size: 16px;
    background-color: #eee;
}

.category{
    font-weight: bold;
    background-color: cadetblue;
    flex: 1 ;
}

.exo{
    color: violet;
    background-color: rgb(99, 87, 83);
}




/*
div {
    border: 1px solid red;
}
div:hover{
    background-color: rgba(0, 255, 0, 0.3)
}