

@import url('https://fonts.googleapis.com/css?family=Lato:300|Sen:400,700&display=swap');

body{
    font-family: 'Sen', sans-serif;
    overflow: hidden;
    font-size: 50px;
    background-color: #eee;
}



/*
div {
    border: 1px solid red;
}
div:hover{
    background-color: rgba(0, 255, 0, 0.3)
}