

@import url('https://fonts.googleapis.com/css?family=Lato:300|Sen:400,700&display=swap');

html{font-size: 100%;}

body{
    font-family: 'Sen', sans-serif;
    font-size: 3rem;
    background-color: #eee;
    text-align: center;
}

.category{
    font-weight: bold;
    background-color: cadetblue;
    flex: 1 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.exo{
    color: violet;
    padding: 20px;
    width: 300px;
    background-color: rgb(99, 87, 83);
   
}




/*
div {
    border: 1px solid red;
}
div:hover{
    background-color: rgba(0, 255, 0, 0.3)
}